*{
border: 1px solid black;
}


header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: auto 300px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.logo{
  color: MediumAquamarine;
  display: flex;
  padding: 20px;
  max-height: 60px;
}

.logo p{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
}

header nav a{
  display: inline-block;
  padding: 15px;
  color: inherit;
  align-items: right;
}

.main{
  display: flex;
  flex-direction: row;
}

.columnlarge{
  display: flex;
  width: 630px;
  flex-direction: column;
}


.columnmedium{
  display: flex;
  width: 300px;
  flex-direction: column;
}

.columnsmall{
  display: flex;
  width: 240px;
  flex-direction: column;
}

.story{

}

.minorstory{


}
